# cmake
cmake-build-debug
cmake-build-debug-event-trace
./smallkv/cmake-build-debug
./test/cmake-build-debug
test/CMakeCache.txt
test/CMakeFiles

# IDE
.idea

# test_temp
test_temp

# others
ref
build/*